@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    --card: #ffffff;
    --card-foreground: #171717;

    --popover: #ffffff;
    --popover-foreground: #171717;

    /* Primary: iFood Red (#EA1D2C) */
    --primary: #EA1D2C;
    --primary-foreground: #ffffff;

    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;

    --muted: #f4f4f5;
    --muted-foreground: #71717a;

    --accent: #fef2f2;
    --accent-foreground: #EA1D2C;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #EA1D2C;

    --radius: 0.75rem;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;
    --primary: #EA1D2C;
    --primary-foreground: #ffffff;
    --border: #27272a;
    --ring: #EA1D2C;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-white md:bg-slate-50/50 text-foreground antialiased min-h-screen;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

/* Custom premium scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}
